.app-features {
  &__img {
    margin-bottom: 30px;
  }

  &__title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
  }

  &__description {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    opacity: 0.6;
  }
}
